
<help-card key='settings.operators'></help-card>
<div class="inset" layout-align="center center">
  <md-button class="md-fab md-primary add-item-btn" ng-click="resourceDialog('settings/operator', 'new', operators)">NEW</md-button>
  <div layout="row">
    <md-input-container flex>
      <label>Operators Search</label>
      <input ng-model="bussiness.filter" class="md-block" autofocus md-autofocus>
    </md-input-container>
  </div>
  <md-list style="padding-top: 2px;">
    <md-list-item ng-repeat-start="operator in operators" ng-click="resourceDialog('settings/operator', operator.id, operators)">{{operator.name}}</md-list-item>
    <md-divider ng-repeat-end></md-divider>
  </md-list>
</div>