/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require angular-material
 *= require_tree .
 *= require_self
 */

md-toolbar {
  min-height: 48px;
  .md-toolbar-tools {
    height: 48px;
    min-height: 48px;
  }
}
.add-item-btn {
  position: fixed;
  right: 8px;
}

md-card.help-card {
  background-color: #fafafa;
  margin: 15px;
  margin-top: -182px; //-2px;
  margin-bottom: 3px;
  transition: margin-top .5s;
  .open-label {
    position: relative;
    top: 14px;
  }
  &.open {
    margin-top: -2px;
    .open-label {
      display: none;
    }
  }
  .help-close-btn {
    position: relative;
    bottom: -36px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
  }
  &:not(.open) {
    .close-label {
      display: none;
    }
  }
}

md-dialog {
  max-width: 84%;
}

md-list.gs-list {
  md-list-item > .md-button:first-child, .gs-list-group > a.md-button {
    background-color: #fafafa;
    border-radius: 2px;
    margin: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    &.center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      background-color: rgba(158,158,158,0.2);
    }
  }
  .gs-list-group {
    a.md-button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 0;
    }
    a.md-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
    } 
  }
}
