<md-toolbar class="md-info">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">GS</h2>
  </div>
</md-toolbar>
<md-content flex layout-padding>
  <md-input-container>
    <label>Email</label>
    <input ng-model="account.email" type="email" autofocus>
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input ng-model="account.password" type="password">
  </md-input-container>
  <br />
  <md-button class="md-raised">Log in</md-button>
</md-content>
